.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 3%;
  width: 80%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  background-color: crimson;
  color: white;
  border: none;
  width: 21%;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
  border: none;

}
.sendButton >img{
  width: 3vmax;
  filter: brightness(100) invert();
  transition: all 0.3s;
}
.sendButton:hover{
  background-color: rgb(173, 10, 42);
}

.sendButton:hover img {
  transform: translate(10px)
}